/* Hide un-compiled mustache bindings
until the Vue instance is ready */

[v-cloak] {
    display: none;
}

#notes {
    margin: 20px;
    width: 600px;
    border: 1px solid olive;
}

#main {
    width: 650px;
    margin: 20px;
    border: 1px solid lightgray;
}

.column {
    width: 600px;
    border: 1px solid blueviolet;
}

.result {
    width: 550px;
    text-align: left;
}

.expansion {
    margin-top: 20px;
    margin-bottom: 20px;
}